@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.title {
  text-shadow: 0px 0px 10px #35383F;
}

.coin, .coin-shadow {
  transform-style: preserve-3d;
  transition: all 1s ease-in;
}

.coins-container {
  perspective: 1000px;
}

.coin-head, .coin-tail {
  backface-visibility: hidden;
}

.coin-tail {
  transform: rotateY(180deg);
}

@keyframes show-coin-head {
  to {
    transform: rotateY(720deg);
  }
}

@keyframes show-coin-tail {
  to {
    transform: rotateY(900deg);
  }
}