@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}


.title {
  text-shadow: 2px 2px 10px #35383F;
}

.coin, .coin-shadow {
  transform-style: preserve-3d;
  transition: all 1s ease-in;
}

.coins-container {
  perspective: 1000px;
}

.coin-head, .coin-tail, .coin-head-2, .coin-tail-2 {
  backface-visibility: hidden;
}

.coin-tail, .coin-tail-2 {
  transform: rotateY(180deg);
}

.spin {
  animation: spin 0.7s ease-in;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(720deg);
  }
}